@import './variables';

$font-tour2:#ee1f10;
$background-tour2:#e9a13d;

.color-tour{
    background-color: $background-tour2;

    h5{
        color:$font-tour2;
    }
    
    ul{
        li{
            &::after{
                background-color: $font-tour2;
            }
        }
    }
}